.custom-control-label {
    cursor: pointer;
}

.cart:hover {
    cursor: pointer;
    background-color: #eee;
}

.badge-m {
    background-color: #a72828;
}
.badge-v {
    background-color: #4fa728;
}
.badge-vg {
    background-color: #225d08;
}
.badge-gf {
    background-color: #a78228;
}

.cart_chevron{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.row + .no-results {
    display: none;
}

@media only screen and (max-width: 600px) {
    .icons {
        display: block;
        width: 100%;
        margin-left: -.5rem;
    }
}
