/********************************
 General Styles
 ******************************/

body {
  font-family: 'Karla', sans-serif !important;
  font-size: 16px;
  line-height: 26px;
  /* background-color: #a4c5bc; */
  background: linear-gradient(rgba(255,255,255,.80), rgba(255,255,255,.95)), url(../images/brick.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 600px) {
    body {
        background-repeat: repeat-y;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        background-size: 100% auto;
    }
}

.custom-control-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart:hover {
    cursor: pointer;
    /* background-color: #eee; */
}


/********************************
Icon Styles
 ******************************/
    
.badge-m {
    background-color: #a72828;
}

.badge-v {
    background-color: #4fa728;
}

.badge-vg {
    background-color: #225d08;
}

.badge-gf {
    background-color: #a78228;
}

.check-subsection {
    border-left: 1px solid #555;
    padding-left: 15px;
    margin-left: 7px;
}

.cart_chevron{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.cart-wrapper + .no-results {
    display: none;
}

.price-icon{
    margin-right: auto !important;
}

@media only screen and (max-width: 600px) {
    .price-icon{
        margin-left: auto !important;
        margin-right: 1rem !important;
    }
    .icons {
        display: block;
        width: 100%;
        margin-left: -.5rem;
    }
    #app-title{
        font-size: 2rem;
    }
}
