.material-icons {
    vertical-align: bottom;
}
.custom-control-label {
    cursor: pointer;
}
.cart:hover {
    cursor: pointer;
    background-color: #eee;
}

.icons{
    width: auto;
}

.cart_chevron{
    position: absolute;
       bottom: 10px;
       right: 10px;
}

.row + .no-results {
    display: none;
}

@media only screen and (max-width: 600px) {
    .icons{
        display: block;
        width: 100%;
        margin-left: -.5rem
    }
}
